<main class="form-signin col-lg-4 m-auto mt-5">

    <form [formGroup]="loginform">

        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div *ngIf="loginform.errors" class="alert alert-danger">{{ loginform.getError('errorinfo') }}</div>
        <div *ngIf="email?.invalid && email?.touched" class="alert alert-danger">E-mail is required!</div>
        <div *ngIf="passwd?.invalid && passwd?.touched" class="alert alert-danger">Password is required!</div>

        <div class="form-floating mb-3">
            <input formControlName="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>

        <div class="form-floating mb-3">
            <input formControlName="passwd" type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>

        <button class="btn btn-lg btn-primary" type="submit" (click)="login()">Sign in</button>

        <p class="mt-5 mb-3 text-muted">Copyright &copy; 2017-{{ aktYear }}.</p>

    </form>
</main>